<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME MOVIL</title>
    <link rel="stylesheet" href="../public/css/general.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" >
</head>
<body >
    <header class="header-home">
        <div class="logo"><img src="../public/images/logo.png" alt=""></div>
        <nav class="barra-nav">
            <ul class="menu-nav">
                <li>SMARTPHONES</li>
                <li>TABLETS</li>
                <li>COMPUTADORAS</li>

            </ul>
            <ul class="login-nav">
                <li>LOGIN</li>
                <li>REGISTRO</li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main>
        <section class="seccion-productos">
        <div class="productos">
            <img src="../public/images/img-phone-01.jpg" alt="img-phone-01">
            <h3>Nombre del producto 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis nemo enim.</p>
            <button type="button">VER MÁS</button>
        </div>

        <div class="productos">
            <img src="../public/images/img-phone-02.jpg" alt="img-phone-02">
            <h3>Nombre del producto 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis nemo enim.</p>
            <button type="button">VER MÁS</button>
        </div>
    
        <div class="productos">
            <img src="../public/images/img-phone-03.jpg" alt="img-phone-03">
            <h3>Nombre del producto 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis nemo enim.</p>
            <button type="button">VER MÁS</button>
        </div>
    
        <div class="productos">
            <img src="../public/images/img-phone-01.jpg" alt="img-phone-01">
            <h3>Nombre del producto 4</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis nemo enim.</p>
            <button type="button">VER MÁS</button>
        </div>
    
        <div class="productos">
            <img src="../public/images/img-phone-02.jpg" alt="img-phone-02">
            <h3>Nombre del producto 5</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis nemo enim.</p>
            <button type="button">VER MÁS</button>
        </div>

        <div class="productos">
            <img src="../public/images/img-phone-03.jpg" alt="img-phone-03">
            <h3>Nombre del producto 6</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum harum tenetur perspiciatis nemo enim.</p>
            <button type="button">VER MÁS</button>
        </div>
        </section>
        <section class="seccion-tutoriales">
            <h2>Tutoriales</h2>
            <div class="tutorial">
                <img src="../public/images/aside-01.jpg" alt="Imagen">
                <p>Titulo del tutorial de reparacion</p>
            </div>
            <div class="tutorial">
                <img src="../public/images/aside-02.jpg" alt="Imagen2">
                <p>Titulo del tutorial de reparacion</p>
            </div>
            <div class="tutorial">
                <img src="../public/images/aside-03.jpg" alt="Imagen3">
                <p>Titulo del tutorial de reparacion</p>
            </div>
            <div class="tutorial">
                <img src="../public/images/aside-04.jpg" alt="Imagen4">
                <p>Titulo del tutorial de reparacion</p>
            </div>
            <aside class="publicidad">
                <h2>Publicidad</h2>
                <div class="div-publicidad">
                    <img src="../public/images/ad-01.jpg" alt="ad1">
                </div>
                <div class="div-publicidad">
                    <img src="../public/images/ad-02.jpg" alt="ad2">
                </div>
            </aside>
        </section>
        
        
        </main>
        
        
</body>
</html>