
/*VERSION MOVIL*/
.header-home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FF4500;
    margin-bottom: 20px;
}

.barra-nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 1.5rem; 
    padding: 1rem; 
}
.menu-nav, .login-nav{
    display: none;
}

.burger-menu {
    margin-right: 1rem; 
    color: white;
    border: solid white 1px;
    padding: 0.4rem 0.5rem; 
    border-radius: 0.4rem; 
} 

/*VERSION DESKTOP*/
@media only screen and (min-width: 600px){
    .header-home {
        background-color: #EF4C27;
        display: flex;
        align-items: center;
    }
    
    .barra-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0.4rem; 
    }
    
    .logo {
        margin-left: 1rem;
    }
    .menu-nav, .login-nav{
        display: flex;
        margin-right: 0.5rem;
    }
    .menu-nav li,
    .login-nav li {
        list-style: none;
        padding-right: 1rem;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    
    .burger-menu {
        display: none;
       
    } 
}


