.body-movil{
    width: 100vw
}
.main-movil .product img,.main-movil .div-publicidad-movil img{
    width: 100%;
    
}
.main-movil .product {
    padding: 0.7rem;
    background-color: white;
    margin: 0rem 1rem;
    border-radius: 1px;
    font-size: 1.2rem;
}
.tutoriales-movil .tutorial img{
    width: 28vw;
    margin-right: 1rem;
    
}

.main-movil .tutoriales-movil .tutorial{
    display: flex;
    align-items: center;
    padding: 0.7rem;
    align-items: center;
    background-color: white;
    margin: 0rem 1rem;
    border-radius: 1px;
    font-size: 1.2rem; 
    margin-bottom: 1rem;

}



.main-movil .tutoriales-movil h2,.main-movil .publicidad-movil h2,.main-movil .div-publicidad-movil{
    padding: 0.7rem;
    background-color: white;
    margin: 2rem 1rem;
    border-radius: 1px;
    font-size: 1.2rem;
    
}


