 
/*VERSION MOVIL*/

.seccion-productos .productos img,.div-publicidad img{
    width: 100%;
    
}
.seccion-productos .productos {
    padding: 0.7rem;
    background-color: white;
    margin: 0rem 1rem;
    border-radius: 1px;
    font-size: 1.2rem;
}
.seccion-tutoriales .tutorial img{
    width: 28vw;
    margin-right: 1rem;
    
}

.seccion-tutoriales .tutorial{
    display: flex;
    align-items: center;
    padding: 0.7rem;
    align-items: center;
    background-color: white;
    
    border-radius: 1px;
    font-size: 1.2rem; 
    margin-bottom: 1rem;

}
.seccion-tutoriales{
    margin: 0 1rem;
}




.seccion-tutoriales h2,.publicidad h2,.div-publicidad{
    padding: 0.7rem;
    background-color: white;
    margin: 2rem 0rem;
    border-radius: 1px;
    font-size: 1.2rem;
    
}
.productos button{
    display: none;
} 
/*VERSION DESKTOP*/
@media only screen and (min-width: 600px){
    main {
        width: 100%;
        height: 100%;
        display: flex;
    }
    
    .seccion-productos {
        width: 65%;
        background-color: white;
        margin-top: 1.5rem;
        height: 100%;
    }
    
    .productos {
        display: inline-block;
        width: 45%;
        padding: 0.6rem;
    }
    
    .productos img {
        width: 100%;
    }
    
    .productos button {
        background-color: #EF4C27;
        color: white;
        border: none;
        padding: 6px;
    }
    /*seccion tutorial*/
    .seccion-tutoriales {
        padding-left: 0.8rem;
        width: 33vw;
        margin-top: 1.5rem;
        height: 40%;
    }
    .seccion-tutoriales .tutorial {
        background-color: white;
        display: flex;
        padding: 0.6rem;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    .seccion-tutoriales .tutorial img {
        margin-right: 1rem;
    }
    .seccion-tutoriales h2,
    .publicidad h2 {
        background-color: white;
        padding: 0.6rem;
        margin: 0;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    
    
    /* seccion publicidad */
    .publicidad .div-publicidad {
        background-color: white;
        padding: 0.7rem;
    }
    .seccion-tutoriales .publicidad img {
        width: 100%;
    }  
}














